.site-name {
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.site-description {
  color: $gray;
  font-size: 13px;
  margin: 3px 0;
}

.post-title {
  color: #333 !important;
  text-align: center;
  text-transform: uppercase;

  &::after {
    background: $red;
    content: "";
    display: block;
    height: 3px;
    margin: 12px auto;
    width: 60px;
  }
}

.thin {
  margin: 0 auto;
  max-width: 90%;
  width: 700px;
}

.date {
  color: $gray;
}

.footer {
  font-size: 12px;
}
