//
// 2 Column Gallery Styles
//

.gallery-2-col {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;

  img {
    height: auto;
    width: 49.5%;
  }
}
