// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

//
// Colors
//

$blue: #4183C4;
$red: #990033;

//
// Grays
//

$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

//
// Typography
//

$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$opensans: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;

//
// Responsive Breakpoints
//

$mobile: 320px;
$mobile-wide: 480px;
$narrow-tablet: 600px;
$tablet: 768px;
$desktop: 1000px;
$desktop-large: 1280px;
